<h2>以下の内容で送信します</h2>
<%= form_with(model: @picture,local: true,url: pictures_path) do |form| %>
    <%= form.hidden_field :image %>
    <%= form.hidden_field :content %>
    
    <p>Picture:<%= @picture.image %></p>
    <p>Content:<%= @picture.content %></p>
    <%= form.submit '登録する' %>
<% end %>
